Boto3==1.24.89
CSBDeep==0.7.2
H5py<3.7.0
Kallisto==1.0.7
Keras==2.9.0
Matplotlib==3.5.2
NumPy==1.21.0
Openslide-python==1.2.0
Pandas==1.4.3
Pathlib==1.0.1
Pillow==9.2.0
toil-Pindel==1.1.7
PyEnsembl==2.0.1
s3fs==2022.7.1
Scikit-learn==1.1
joblib>=1.0.0
SciPy==1.9.0
StarDist==0.8.3
Tensorflow-Data-Validation==1.9.0
